<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72.png</string>
		<string>144X144.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>58X58</string>
		<string>29X29</string>
		<string>80X80</string>
		<string>40X40</string>
		<string>100X100</string>
		<string>50X50</string>
		<string>152X152</string>
		<string>76X76</string>
		<string>144X144</string>
		<string>Icon-72.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.tiggly.stamp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>FacebookAppID</key>
	<string>184233351778353</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Rockwell-Bold.TTF</string>
		<string>Rockwell-BoldItalic.TTF</string>
		<string>Rockwell.TTF</string>
		<string>Candaraa.TTF</string>
		<string>Candarabold.TTF</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
</dict>
</plist>
