<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>305 </key>
	<string>shape34</string>
	<key>307 </key>
	<string>shape36</string>
	<key>310 </key>
	<string>shape38</string>
	<key>317 </key>
	<string>shape37</string>
	<key>318 </key>
	<string>shape32</string>
	<key>324 </key>
	<string>shape23</string>
	<key>325 </key>
	<string>shape24</string>
	<key>327 </key>
	<string>shape22</string>
	<key>328 </key>
	<string>shape21</string>
	<key>329 </key>
	<string>shape16</string>
	<key>330 </key>
	<string>shape9</string>
	<key>331 </key>
	<string>shape7</string>
	<key>332 </key>
	<string>shape6</string>
	<key>333 </key>
	<string>shape2</string>
	<key>334 </key>
	<string>shape3</string>
	<key>335 </key>
	<string>shape1</string>
	<key>336 </key>
	<string>shape4</string>
	<key>337 </key>
	<string>shape0</string>
	<key>338 </key>
	<string>shape5</string>
	<key>339 </key>
	<string>shape8</string>
	<key>340 </key>
	<string>shape10</string>
	<key>341 </key>
	<string>shape15</string>
	<key>342 </key>
	<string>shape12</string>
	<key>343 </key>
	<string>shape17</string>
	<key>344 </key>
	<string>shape11</string>
	<key>345 </key>
	<string>shape13</string>
	<key>346 </key>
	<string>shape14</string>
	<key>348 </key>
	<string>shape19</string>
	<key>349 </key>
	<string>shape33</string>
	<key>351 </key>
	<string>shape18</string>
	<key>352 </key>
	<string>shape26</string>
	<key>355 </key>
	<string>shape28</string>
	<key>357 </key>
	<string>shape25</string>
	<key>358 </key>
	<string>shape35</string>
	<key>359 </key>
	<string>shape27</string>
	<key>369 </key>
	<string>shape20</string>
</dict>
</plist>
